.main {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
}

.section {
flex: 1;
}

.image2 img {
  width: 300px !important; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}