{% extends 'base.html' %}
{% block content %}
{% load static %}
<div>
    <div class="container is-is-max-desktop mt-6 mb-6">
        <p class="title">Asistencias</p>
    </div>

    {% load tz %}

    <div class="container is-max-desktop">  
        <div class="box">
            {% if Asistencias|length != 0 %}
            {% for empleado in Asistencias %}
            <h1 class="block"> 
                {% if empleado.falta %}
                ❌<strong>FALTA </strong>{{empleado.fecha_hora_asitencia.date}}
                {% else %}
                ✅{{empleado.fecha_hora_asitencia.date}} a las {{empleado.fecha_hora_asitencia.time}}
                {% endif %}
                {% if empleado.observacion != "" %}
                <strong>- Observación: </strong>{{empleado.observacion}}
                {% endif %}
            </h1>
            {% endfor %}
            {% else %}
                <h1 class="block"> <strong>No se han encontrado registros de asistencias, por favor registre asistencia.</strong> </h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}