{% extends "base.html" %}

{% block content %}
<div class="container is-max-desktop mt-6">
   <p class="title">Registrar vacaciones</p>
   {% if success != None %}
         {% if success %}
      <article class="message is-success">
         <div class="message-header">
            <p>Epa guardado</p>
         </div>
         <div class="message-body">
            Se han registrado <strong>correctamente</strong> las vacaciones.
         </div>
      </article>
   {% else %}
   <article class="message is-danger">
      <div class="message-body">
         Se han registrado <strong>incorrectamente </strong> las vacaciones.
         <div><strong>Razón: </strong>{{error_msg}}.</div>
      </div>
   </article>
   {% endif %}
   {% endif %}
   <form action="/vacacion/crear" method="POST">
      <div class="box">
         {% csrf_token %}
         {{form.as_div}}
      </div>
      <div class="buttons is-centered">
         <button class="button is-primary">Registrar vacaciones</button>
      </div>
   </form>
</div>
{% endblock %}