{% extends "base.html" %}



{% block content %}


<div class="container is-max-desktop mt-6">
   <p class="title">{{epa.nombres|upper}} Permisos registrados.</p>
      {% if permits|length == 0 %}
        <div>No hay permisos registrados</div>
      {% else %}
      {% for PermisoEmpleado in permits %}
      <div class="box">
         <div class="ml-3">
            <div>
               <span class="tag is-success is-light"><strong>Fecha inicio:&#xA0;</strong>{{PermisoEmpleado.fecha_inicio}} </span>
               {% if PermisoEmpleado.is_past_due %}
                  <span class="tag is-danger">Finalizó el día&#xA0;{{PermisoEmpleado.fecha_final}}</span>
               {% else %}
                  <span class="tag is-info is-light"><strong class="is-white">Finaliza el día:&#xA0;</strong>{{PermisoEmpleado.fecha_final}}</span>
               {% endif %}
            </div>
            <article class="message mt-2">
               <div class="message-body">
                  Razón: {{PermisoEmpleado.descripcion}}
               </div>
             </article>
            <span class="tag">
               Pedido el {{PermisoEmpleado.fecha_solicitud}}
            </span>
         </div>
      </div>
      {% endfor %}
      {% endif %}
   </div>
</div>




{% endblock content %}
