{% extends "base.html" %}



{% block content %}


<div class="container is-max-desktop mt-6">
   <p class="title">{{epa.nombres|upper}} Permisos registrados.</p>
   <div class="box">
      {% if permits|length == 0 %}
        <div> <strong>No hay permisos registrados</strong></div>
      {% else %}
      {% for PermisoEmpleado in permits %}
      <div class="box">
         <div>
            <strong>Fecha inicio: </strong>{{PermisoEmpleado.fecha_inicio.date}} 
         </div>
         <div>
            <strong>Hasta el día: </strong>{{PermisoEmpleado.fecha_final.date}}
         </div>
         <div>
            <strong>Razón del permiso: </strong>{{PermisoEmpleado.descripcion}}
         </div>   
      </div>
      {% endfor %}
      {% endif %}
   </div>
   
</div>




{% endblock content %}
