{% extends 'base.html' %}

{% block content %}
<div class="container is-max-desktop ">
    <div class="box m-6">
        <p class="title has-text-centered mt-6"><strong>SRA</strong></p>
        <div class="image2 is-square mt-6 is-centered ">
            <img src="/static/Univalle.svg" alt="logo univalle" class="has-ratio" width="1" height="1">
        </div>
        <p class="subtitle is-5 has-text-centered mt-6"><strong>Esta aplicación está desarrollada para la Universidad del Valle sede Yumbo</strong></p>
    </div>
</div>
{% endblock %}
