{% extends 'base.html' %}

{% block content %}
{{error}}
<div class="container is-max-desktop mt-6">
    <div class="box">
        <form action="/signup/" method="POST">
            {% csrf_token %}
            <div class="box m-3"> 
                <p class="title">Crear cuenta usuario SRA</p>
                <div class="control">
                    {{form.as_div}}
                </div>
            </div>
            <div class="box m-3"><div class="control">
                <p class="title">Datos personales del empleado</p>
                {{form2.as_div}}
            </div></div>
            <div class="buttons is-centered">
                <button class="button is-primary mt-2">
                    Crear cuenta
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
