{% extends 'base.html' %}

{% block content %}
<div class="">

   <div class="container is-is-max-desktop mt-6 mb-6">
      <p class="title">Actualizar usuario</p>
  </div>

   <div class="container mt-6">
      <form action="/user/update" method="POST" class="box">
         {% csrf_token %}
         {% if error is not None%}
         <article class="message is-danger">
            <div class="message-header">
                <p>Error</p>
            </div>
            <div class="message-body">
                {{error}}
            </div>
        </article>
         {% endif%}
         {% if status %}
         <article class="message is-success">
            <div class="message-header">
                <p>Epa guardado</p>
            </div>
            <div class="message-body">
               La actualización fue hecha con éxito.
            </div>
        </article>
         {% endif%}
         <div>
            {{form}}
         </div>
         <div class="buttons mt-2 is-centered">
            <button class="button is-primary">
               Actualizar
            </button>
         </div>
      </form>
   </div>
</div>
{% endblock %}