<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>SRA</title>
  <link rel="icon" href="{% static 'Univalle.svg'%}" type="image/x-icon">
  <meta name="Sistema de registro de Asistencia sede Yumbo" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <nav class="navbar is-light mb-6" role="navigation" aria-label="main navigation">

    <div id="navbarBasicExample" class="navbar-menu">
      <a class="navbar-item" href="/"><img src="{% static 'Univalle.svg'%} " width="60" height="50"></a>

      {% if user.is_authenticated %}

      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Asistencia</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/asistencia/marcar">Registrar asistencia</a>
            <a class="navbar-item" href="/asistencia/listar">Ver registro de asistencia</a>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item is-small"><strong> Bienvenido {{epa.nombres}} {{epa.apellidos}}</strong></div>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/logout">Cerrar sesión</a>
        </div>
      </div>
    </div>

    {% else %}

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="navbar-item is-small">Bienvenido visitante</div>
        <div class="buttons">
          <a class="button is-primary" href="/signin">
            <strong>Iniciar sesión</strong></a>
          <a class="button is-primary" href="/signup">Registrarse</a>
        </div>
      </div>
    </div>
    {% endif %}

    </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}
  
  <div class="main">
    <div class="section"></div>
    <footer class="footer has-">
      <div class="content has-text-centered">
        <p>
          <strong>SRA</strong> hecho por <a href="https://github.com/Erio56">Brayan Andrés Cataño Sánchez</a> y Felipe
          Muñoz.
        </p>
        <img src="{% static 'Univalle.svg'%} " width="60" height="50">
        <p>sede Yumbo</p>
      </div>
    </footer>  
  </div>
 
</body>

<script src="" async defer></script>

</html>